.carrito img {
  max-width: 40px;
  margin-top: 18px;
  margin-right: 40px;
}

.prod-carrito {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
